{% extends 'base.html' %}

{% block content %}

<form method="POST" class="post-form" action="">
    <input type="hidden" name="id" pk="id" required maxlength="20" value="{{ techniques.id }}"/>
    {% csrf_token %}
    <div class="container">
<br>
<a href="/viewtechnique" class="btn btn-info" role="button">Go back to View List of Techniques</a>
<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <h3>Edit Technique</h3>
    </div>
</div>
<!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-4">
        <input type="text" name="name_person_technique" value="{{techniques.name_person_technique}}">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-4">
        <input type="text" name="name_person_technique" value="{{techniques.name_person_technique}}">
    </div> 
</div> -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-4">
        <input type="text" name="name_person_technique" value="{{techniques.name_person_technique}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Title at your Organisation:</label>
    <div class="col-sm-4">
        <input type="text" name="title" value="{{techniques.title}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Name of Technique:</label>
    <div class="col-sm-4">
        <input type="text" name="name_of_technique" value="{{techniques.name_of_technique}}">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-4">
        <input type="text" name="descriptionoftechnique" value="{{techniques.descriptionoftechnique}}">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</div>
    </div>
</form>


{% endblock content %}