{% extends 'beforeloginbase.html' %}

{% block content %}
  
<div class="container-fluid" >
<form method="post" class="post-form" action="/Reportthreat/">
    {% csrf_token %}
   
<br>
<!-- <a href="/viewthreat" class="btn btn-info" role="button">Go back to View Report</a> -->
<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <h3>Report Threat</h3>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label"> Name:</label>
    <div class="col-sm-4">
        {{ form.name}}
       
    </div>
</div>
<!-- <div class="input-group mb-3">
    <div class="input-group-append">
        <span class="input-group-row"><i class="fas fa-user"></i></span>
    </div>
    <input type="text" name="username" placeholder="Username..." class="form-control">
</div> -->
<!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-4">
        <input type="text" name="name" type="text">
    </div>
</div> -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label"> Type of Social Media Crime:</label>
    <div class="col-sm-4">
        {{form.typeofsocialmediacrime}}
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
        {{ form.descriptionofthreat }}
    </div>
    
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Location:</label>
    <div class="col-sm-4">
        {{ form.district }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Village:</label>
    <div class="col-sm-4">
        {{ form.village }}
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</div>
    
</form>
</div>

{% endblock content %}