
<br>
<div class="container-fluid">

<div class="row">

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Total-Threats">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Threats</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_threats}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Awareness-Campaigns">
			  	<div class="card-header">
			  		<h5 class="card-title">Awareness Campaigns</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_awareness}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Perpetration-Techniques">
			  	<div class="card-header">
			  		<h5 class="card-title">Perpetration Techniques</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_techniques}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="Summation">
			  	<div class="card-header">
			  		<h5 class="card-title">Number of Hits</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_techniques}}</h3>
			  	</div>
			</div>
		</div>
	
	</div>
</div>
</div>