
<div class="nav-item dropdown px-3">
    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Threat Report</a>
    <div class="dropdown-menu">
    <a href="/viewthreat" class="dropdown-item">View Threat Report </a>
    <a href="/viewtechnique" class="dropdown-item">View Technique Report </a>
    <a href="/viewawareness" class="dropdown-item">View Awareness Campaigns </a>
    <a href="#" class="dropdown-item">Social Media Integration</a>
  </div>    
</div>

 <div class="nav-item dropdown px-3">
          
    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Analysis</a>
  
    <div class="dropdown-menu">
      
        <a href="/monthlyanalysis" class="dropdown-item">Monthly Threat Reports</a></button>
        <a href="/annualanalysis" class="dropdown-item">Annual Threat Reports</a>
        
    </div>    
   </div>

   